<div class="gallery-container">
    <div class="gallery-header">
        <p class="gallery-title">
            Several Sneak Peek of BMW M3
        </p>
    </div>
    <div class="gallery">
        <div class="upper-images">
            <div class="left">
                <div class="left-up">
                    <div class="img img-1">

                    </div>
                    <div class="img img-2">

                    </div>
                </div>
                <div class="left-down">
                    <div class="img left-down-img">

                    </div>
                </div>
            </div>
            <div class="img right">

            </div>
        </div>
        <div class="lower-images">
            <div class="img left-img">

            </div>
            <div class="img right-img">

            </div>
        </div>
    </div>
    <button class="button button-secondary">
        VIEW MORE
    </button>
</div>