<div class="intro-container">
    <app-navigation></app-navigation>
    <div class="intro">
        <div class="intro-text">
            <p class="title">
                Elegant, Classy, Agressive.
            </p>
            <p class="intro-paragraph">
                introducing BMW model M3, 4sec 0-100 and convenience features
                to give you the best driving experience.
            </p>
            <button class="button"><i class="fas fa-play-circle"></i> GET STARTED</button>
        </div>
    </div>
</div>