<div class="features-container">
    <div class="features-header">
        <div class="features-title">
          Every Features You Might Fall in Love
        </div>
        <div class="features-text">
            <p>Here are several features of BMW M3 that inform you specifically
            before you decide anything for this car.</p>
        </div>
    </div>
    <div class="features-cards">
        <div class="card">
            <div class="img img1">
            </div>
            <div class="card-title">
                TOTAL FOCUS
            </div>
            <div class="card-text">
                Convenience, compatibility, and connectivity – 
                the advanced technology in the 2024 BMW M3 Sedans 
                covers everything you could possibly need for a fully
                engaged driving experience.
            </div>
        </div>

        <div class="card">
            <div class="img img2"></div> 
            <div class="card-title">
                THE INTENSITY YOU CRAVE
            </div>
            <div class="card-text">
                The incredible 3.0-liter BMW M TwinPower 
                Turbo inline 6-cylinder engine reaches peak
                performance in the Competition xDrive model with 
                a stunning 503 hp.
            </div>
        </div>

        <div class="card">
            <div class="img img3"></div>  
            <div class="card-title">
                THE CENTER OF ATTENTION
            </div>
            <div class="card-text">
                Get behind the wheel of the 2024 BMW M3 
                and you'll feel it: all eyes on you. 
                This iconic sedan makes a scene everywhere 
                it goes with its aggressive angles and athletic build.
            </div>
        </div>
    </div>
    <button class="button button-secondary">
        LEARN MORE
    </button>
</div>