<div class="about-car">
    <div class="about about-text">
        <p>ABOUT THE CAR</p>
    </div>
    <div class="about about-paragraph">
        <p>
            The BMW M3 has a madness inside it.
            Its standard powertrain bottles up 473 horsepower from a 
            twin-turbo straight-six, shoots it through a six-speed manual 
            transmission, and wastes no time delivering it to the rear tires. 
            And that’s only the start. The M3 Competition, which is only offered 
            with an eight-speed automatic, increases horsepower to 503 and 
            is offered with your choice of rear- or all-wheel drive. 
        </p>
    </div>
</div>