.web-site {
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.fade {
    opacity: 0;
    transition: 1s all ease;
    transform: translateY(50px);
}

.fade.animate {
    opacity: 1;
    transform: translateY(0);

}

.intro {
    animation: fadeIn;
    animation-duration: 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@media only screen and (max-width: 750px) {
    .web-site {
        padding: 0;
        width: 100%;
    }
}