<div class="specs-container">
    <div class="specs-image">

    </div>
    <div class="specs">
        <div class="specs-header">
            <p class="specs-title">
                The Car Specifications and Performances
            </p>
            <p class="specs-text">
                Here are specifications and performances of BMW M3 from engine to
                every details.
            </p>
        </div>
        <div class="specs-list">
            <div class="col co1">
                <div class="spec-card">
                    <div class="card-text">
                        <p class="spec-name">
                            ENGINE
                        </p>
                        <p class="spec-result">
                            503HP @ 6250 rpm
                        </p>
                    </div>
                    <div class="card-icon">
                        <i class="fas fa-car"></i>
                    </div>
                </div>
                <div class="spec-card">
                    <div class="card-text">
                        <p class="spec-name">
                            ACCELERATION
                        </p>
                        <p class="spec-result">
                            2.7 sec 0-60mph
                        </p>
                    </div>
                    <div class="card-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                </div>
                <div class="spec-card">
                    <div class="card-text">
                        <p class="spec-name">
                            FUEL ECONOMY
                        </p>
                        <p class="spec-result">
                            Observed: 19 mpg
                        </p>
                    </div>
                    <div class="card-icon">
                        <i class="fas fa-gas-pump"></i>
                    </div>
                </div>
                <div class="spec-card">
                    <div class="card-text">
                        <p class="spec-name">
                            DRIVE
                        </p>
                        <p class="spec-result">
                            Front-engine, rear/all- wheel-drive
                        </p>
                    </div>
                    <div class="card-icon">
                        <i class="fas fa-cogs"></i>
                    </div>
                </div>
            </div>
            <div class="col co2">
                <div class="spec-card">
                    <div class="card-text">
                        <p class="spec-name">
                            SEATING
                        </p>
                        <p class="spec-result">
                            Up to 5
                        </p>
                    </div>
                    <div class="card-icon">
                        <i class="fas fa-users"></i>
                    </div>
                </div>
                <div class="spec-card">
                    <div class="card-text">
                        <p class="spec-name">
                            TRANSMISSION
                        </p>
                        <p class="spec-result">
                            8-Speed Automatic
                        </p>
                    </div>
                    <div class="card-icon">
                        <i class="fas fa-cog"></i>
                    </div>
                </div>
                <div class="spec-card">
                    <div class="card-text">
                        <p class="spec-name">
                            WEIGHT
                        </p>
                        <p class="spec-result">
                            3929 LB
                        </p>
                    </div>
                    <div class="card-icon">
                        <i class="fas fa-warehouse"></i>
                    </div>
                </div>
                <div class="spec-card">
                    <div class="card-text">
                        <p class="spec-name">
                            TOP SPEED
                        </p>
                        <p class="spec-result">
                            156 MPH
                        </p>
                    </div>
                    <div class="card-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>